<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/flowbite@1.4.1/dist/flowbite.min.css" />
  <script src="https://cdn.tailwindcss.com"></script>

  <link rel="stylesheet" href="/static/app.css">
  <link rel="shortcut icon" type="image/x-icon" href="../static/images/favicon.jpeg">
  <title>Document</title>
</head>

<body>
  <h1 class="text-center text-black text-4xl tracking-tight font-extrabold xl:text-6xl">
    Mastermind</h1>

  <p class="mt-4 text-lg">Welcome to Mastermind! Starting with the bottom row, drag pegs onto the board, submit your
    guess and see if you can crack the code! You can change your sequence by dragging a different color atop your
    previous choice.
    Good luck!
  </p>
  {% if game %}
  <p>{{game.winning_sequence}}</p>
  <h2 class="mt-8 text-center text-black text-md tracking-tight font-extrabold sm:text-lg xl:text-xl">Remaining
    Guesses: <span id="numGuessesLeft" class="italic">{{game.remaining_guess_count}}</span></h2>

  <!-- Result Peg Explanation Table -->
  <p>Result Pegs Explained</p>
  <table>
    <thead>
      <tr>
        <th>Color</th>
        <th>Representation</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>red</td>
        <td>1 Piece is the correct color, in the correct position</td>
      </tr>
      <tr>
        <td>white</td>
        <td>1 Piece is the correct color, in the wrong position</td>
      </tr>
      <tr>
        <td>black</td>
        <td>1 piece of incorrect color and position.</td>
      </tr>
    </tbody>
  </table>

  <!-- New Table -->

  <div class="w-1/2 mx-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500">
      <thead class="text-xs text-gray-700 uppercase bg-gray-200">
        <tr>
          <th scope="col" class="px-6 py-3">
            Color
          </th>
          <th scope="col" class="px-6 py-3">
            Represents
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="bg-blue-500 border-b">
          <th scope="row" class="px-2 py-1 font-medium text-gray-900 whitespace-nowrap">
            <div class="w-8 h-8 rounded-3xl bg-red-800">
            </div>
          </th>
          <td class="px-2 py-1">
            1 Piece is the correct color, in the correct position
          </td>
        </tr>
        <tr class="bg-blue-500 border-b">
          <th scope="row" class="px-2 py-1 font-medium text-gray-900 whitespace-nowrap">
            <img id="row{{row}}ResultPeg-{{col}}" src="/static/images/result-circle-white.png" width="15" height="15"
              alt>
          </th>
          <td class="px-2 py-1">
            1 Piece is the correct color, in the wrong position
          </td>
        </tr>
        <tr class="bg-blue-500">
          <th scope="row" class="px-2 py-1 font-medium text-gray-900 whitespace-nowrap">
            <img id="row{{row}}ResultPeg-{{col}}" src="/static/images/result-circle-black.png" width="15" height="15"
              alt>
          </th>
          <td class="px-2 py-1">
            1 piece of incorrect color and position.
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- End New Table -->


  <!-- Main Game Board -->
  <table>
    <!-- Computer Answers -->
    <tr>
      {% for n in range(game.cols) %}
      <td>
        <div id="actual-{{n}}" {% if row==1 %}class="droppable" {% endif %}
          style="height: 32px; width: 32px; background-image: url('../static/images/question-mark.png'); background-size: cover;">
        </div>
      </td>
      {% endfor %}
    </tr>
    <!-- Dynamic population of game rows/cols -->
    {% for row in range(game.rows,0,-1) %}
    <tr id="row{{row}}">
      {% for col in range(game.cols,0,-1) %}
      <td>
        <div id="row{{row}}-col{{col}}" {% if row==1 %}class="droppable" {% endif %}
          style="height: 32px; width: 32px; background-image: url('../static/images/result-circle-empty.png'); background-size: cover;">
        </div>
      </td>
      {% endfor %}
      <td>
        <!-- Guess Feedback Peg Area, dynamically rendered (evens & odds) -->
        <table cellspacing="0" cellpadding="0">
          <tbody>
            <tr>
              <!-- odds -->
              {% for col in range(0, game.cols, 2) %}
              <td>
                <img id="row{{row}}ResultPeg-{{col}}" src="/static/images/result-circle-black.png" width="15"
                  height="15" alt>
              </td>
              {% endfor %}
            </tr>
            <tr>
              <!-- evens -->
              {% for col in range(1, game.cols, 2) %}
              <td>
                <img id="row{{row}}ResultPeg-{{col}}" src="/static/images/result-circle-black.png" width="15"
                  height="15" alt>
              </td>
              {% endfor %}
            </tr>
          </tbody>
        </table>
      </td>
      <td>
        {% if row == 1 %}
        <input type="button" value="Submit" class="submitGuessBtn" id="row-{{row}}-Btn">
        {% else %}
        <input type="button" value="Submit" class="submitGuessBtn" id="row-{{row}}-Btn" hidden>
        {% endif %}
      </td>
    </tr>
    {% endfor %}



  </table>
  {% endif %}

  <!-- Player Peg Selection -->
  <p>Drag pieces onto the game board:</p>
  <table>
    <tbody>
      <tr>
        <!-- Playable pegs spill over into second <tr> if colors > columns -->
        {% with stop_val = [game.cols, game.colors]|min %}
        {% for n in range(stop_val) %}
        <td>
          <a>
            <img src="/static/images/guess-choices/peg{{n}}.gif" data-val="{{n}}" class="draggable" width="32"
              height="32" draggable="true">
          </a>
        </td>
        {% endfor %}
      </tr>
      {% if game.colors > stop_val %}
      <tr>
        {% for n in range(stop_val, game.colors) %}
        <td>
          <a>
            <img src="/static/images/guess-choices/peg{{n}}.gif" data-val="{{n}}" class="draggable" width="32"
              height="32" draggable="true">
          </a>
        </td>
        {% endfor %}
      </tr>
      {% endif %}
      {% endwith %}
    </tbody>
  </table>

  <!-- Game Modification Form -->
  <form method="POST">
    <label for="num_cols">Sequence Length</label>
    <input type="number" id="num_cols" name="num_cols" min="4" max="8" value="{{game.cols}}">
    <label for="num_rows">Guess Attempts</label>
    <input type="number" id="num_rows" name="num_rows" min="1" max="15" value="{{game.rows}}">
    <label for="num_colors">Peg Colors</label>
    <input type="number" id="num_colors" name="num_colors" min="2" max="8" value="{{game.colors}}">
    <button>New Game</button>
  </form>

  <!-- Scripts -->
  <script src="https://unpkg.com/flowbite@1.4.1/dist/flowbite.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"
    integrity="sha256-T/f7Sju1ZfNNfBh7skWn0idlCBcI3RwdLSS4/I7NQKQ=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="/static/app.js"></script>
</body>

</html>