<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/app.css">
  <title>Document</title>
</head>

<body>
  <h1>Mastermind</h1>
  {% if game %}
  <p>{{game.winning_sequence}}</p>
  <h2>Remaining Guesses: <span id="numGuessesLeft">{{game.remaining_guess_count}}</span></h2>

  <table>
    <!-- Computer Answers -->
    <tr>
      {% for n in range(game.cols) %}
      <td>
        <div id="actual-{{n}}" {% if row==1 %}class="droppable" {% endif %}
          style="height: 32px; width: 32px; background-image: url('../static/images/question-mark.png'); background-size: cover;">
        </div>
      </td>
      {% endfor %}
    </tr>
    <!-- Dynamic population of game rows/cols -->
    {% for row in range(game.rows,0,-1) %}
    <tr id="row{{row}}">
      {% for col in range(game.cols,0,-1) %}
      <td>
        <div id="row{{row}}-col{{col}}" {% if row==1 %}class="droppable" {% endif %}
          style="height: 32px; width: 32px; background-image: url('../static/images/result-circle-empty.png'); background-size: cover;">
        </div>
      </td>
      {% endfor %}
      <td>
        <!-- Guess Feedback Peg Area, dynamically rendered (evens & odds) -->
        <table cellspacing="0" cellpadding="0">
          <tbody>
            <tr>
              <!-- odds -->
              {% for col in range(0, game.cols, 2) %}
              <td>
                <img id="row{{row}}ResultPeg-{{col}}" src="/static/images/result-circle-black.png" width="15"
                  height="15" alt>
              </td>
              {% endfor %}
            </tr>
            <tr>
              <!-- evens -->
              {% for col in range(1, game.cols, 2) %}
              <td>
                <img id="row{{row}}ResultPeg-{{col}}" src="/static/images/result-circle-black.png" width="15"
                  height="15" alt>
              </td>
              {% endfor %}
            </tr>
          </tbody>
        </table>
      </td>
      <td>
        {% if row == 1 %}
        <input type="button" value="Submit" class="submitGuessBtn" id="row-{{row}}-Btn">
        {% else %}
        <input type="button" value="Submit" class="submitGuessBtn" id="row-{{row}}-Btn" hidden>
        {% endif %}
      </td>
    </tr>
    {% endfor %}



  </table>
  {% endif %}

  <!-- Player Peg Selection -->
  <table>
    <tbody>
      <tr>
        {% for n in range(8) %}
        <td>
          <a>
            <img src="/static/images/guess-choices/peg{{n}}.gif" id="{{n}}" class="draggable" width="32" height="32"
              draggable="true">
          </a>
        </td>
        {% endfor %}
      </tr>
    </tbody>
  </table>

  <!-- Game Form -->
  <form method="POST">
    <label for="num_cols">Sequence Length</label>
    <input type="number" id="num_cols" name="num_cols" min="4" max="8" value="{{game.cols}}">
    <label for="num_rows">Guess Attempts</label>
    <input type="number" id="num_rows" name="num_rows" min="1" max="15" value="{{game.rows}}">
    <button>New Game</button>
  </form>

  <!-- Scripts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"
    integrity="sha256-T/f7Sju1ZfNNfBh7skWn0idlCBcI3RwdLSS4/I7NQKQ=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="/static/app.js"></script>
</body>

</html>