<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>Mastermind</h1>

  <table>
    <tbody>
      <!-- Computer Answers -->
      <tr>
        <td>?</td>
        <td>?</td>
        <td>?</td>
        <td>?</td>
      </tr>
      <!-- Player Guess #10 -->
      <tr id="row10">
        <td>
          <div><input type="number" min="0" max="7" required></div>
        </td>
        <td>
          <div><input type="number" min="0" max="7" required></div>
        </td>
        <td>
          <div><input type="number" min="0" max="7" required></div>
        </td>
        <td>
          <div><input type="number" min="0" max="7" required></div>
        </td>
        <td>
          <table cellspacing="0" cellpadding="0">
            <tbody>
              <tr>
                <td>
                  <img src="/static/images/result-circle-empty.png" width="15" height="15" alt>
                </td>
                <td>
                  <img src="/static/images/result-circle-empty.png" width="15" height="15" alt>
                </td>
              </tr>
              <tr>
                <td>
                  <img src="/static/images/result-circle-empty.png" width="15" height="15" alt>
                </td>
                <td>
                  <img src="/static/images/result-circle-empty.png" width="15" height="15" alt>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
        <td>
          <input type="button" value="Submit" id="row10Btn">
        </td>
      </tr>
      <!-- Player Guess #09 -->
      <tr>
        <td>
          <div><input type="number" min="0" max="7" required></div>
        </td>
        <td>
          <div><input type="number" min="0" max="7" required></div>
        </td>
        <td>
          <div><input type="number" min="0" max="7" required></div>
        </td>
        <td>
          <div><input type="number" min="0" max="7" required></div>
        </td>
        <td>
          <table cellspacing="0" cellpadding="0">
            <tr>
              <td>
                <img src="/static/images/result-circle-empty.png" width="15" height="15" alt>
              </td>
              <td>
                <img src="/static/images/result-circle-empty.png" width="15" height="15" alt>
              </td>
            </tr>
            <tr>
              <td>
                <img src="/static/images/result-circle-empty.png" width="15" height="15" alt>
              </td>
              <td>
                <img src="/static/images/result-circle-empty.png" width="15" height="15" alt>
              </td>
            </tr>
          </table>
        </td>
      </tr>

    </tbody>
  </table>

  <!-- Scripts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"
    integrity="sha256-T/f7Sju1ZfNNfBh7skWn0idlCBcI3RwdLSS4/I7NQKQ=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="/static/app.js"></script>
</body>

</html>